root = true

[*]
charset = utf-8
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true
end_of_line = crlf

[*.ps1]
indent_size = 4

[*.{json, md}]
indent_size = 2

[.bashrc]
indent_size = 4
indent_style = space
end_of_line = lf

[*.sh]
indent_size = 4
indent_style = space
end_of_line = lf
